<header class="app-header navbar select-none sign-head">
    <a class="navbar-brand" ui-sref="main"></a>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="#"  ui-sref="homepage.about">关于</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">用户</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">帮助</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto d-md-down-none">
          <button type="button" class="btn btn-secondary mr-4" ui-sref="homepage.sign.login" ui-sref-active="btn-primary">登陆</button>
          <button type="button" class="btn btn-secondary mr-4" ui-sref="homepage.sign.register" ui-sref-active="btn-primary">注册</button>
    </ul>
</header>
